<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Home</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script defer src="/scripts/strava.js"></script>
    <script defer src="/scripts/map.js"></script>
</head>
<body>
    <h1>Strava Mapping Home</h1>

    <% if (locals.loggedIn) { %>
        <p>Welcome <%= locals.firstName %> <%= locals.lastName %>!</p>
        <form id="firstForm">
            <label for="displayType">What would you like to display:</label>
            <select id="displayType" name="displayType">
                <option value="default" selected disabled>Select an option</option>
                <option value="last20">Last 20 Activities</option>
                <option value="timePeriod">Activities from specific time period</option>
                <option value="starredSegments">Starred Segments</option>
            </select>
            <label class="hidden inputLabel" for="startDate"> Start Date
                <input id="startDate" type="text">
            </label>
            <label class="hidden inputLabel"> End Date
                <input type="text">
            </label>
            <button type="button" class="hidden" id="displayButton">Show Activities</button>
        </form>
        <div id="map"></div>
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "<%=locals.apiKEY%>", v: "weekly"});</script>

    <% } else { %>
        <button id="loginButton">Login</button>
    <% } %>
</body>
</html>