<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Home</title>
</head>
<body>
    <h1>Strava Mapping Home</h1>

    <% if (locals.loggedIn) { %>
        <p>Welcome</p>
    <% } else { %>
        <button>Login</button>
    <% } %>
</body>
</html>